@media only screen and (min-width: 1900px) {
    main {
        display: block;
    }
    body {
        background-color: unset;
    }
    main {
        background: unset;
    }
    article {
        background: rgb(244, 194, 128);
        background: linear-gradient(90deg, rgba(244, 194, 128, 1) 0%, rgba(218, 91, 16, 1) 100%);
        box-shadow: 3px 3px 10px rgb(71, 71, 71);
        border-radius: 6px;
        width: 40%;
        margin: 40px;
        padding: 40px;
    }
    nav a {
        display: inline;
        font-size: 2em;
    }
    nav a:hover {
        color: tomato;
    }
    nav ul {
        position: unset;
        display: flex;
    }
    nav ul li a {
        margin-right: 200px;
        flex: 1;
    }
    .Presentation img {
        width: 60%;
        margin-left: 0;
    }
    .ModernAgile img {
        width: 25vw;
        height: 20vw;
    }
    .col img {
        width: 25vw;
        height: 18vw;
    }
    .ModernAgile img:hover,
    .col img:hover {
        transform: scale(1.3);
    }
    #httpimg {
        margin-top: 60px;
    }
    .InternetsHistoria {
        background: rgb(244, 194, 128);
        background: linear-gradient(90deg, rgba(244, 194, 128, 1) 0%, rgba(218, 91, 16, 1) 100%);
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    .InternetsDelar {
        display: flex;
    }
    .col {
        flex: 1;
    }
    .col p,
    .col h3,
    .col ul,
    col li {
        padding: 0 50px;
    }
    .col a {
        margin-left: 75px;
    }
    video {
        margin: 0 80px;
        width: 25vw;
        height: 20vw;
    }
}