        @media only screen and (min-width: 765px) {
            nav {
                height: 10em;
            }
            nav ul {
                right: 40px;
            }
            nav img {
                z-index: 9;
                width: 20vw;
                max-width: 150px;
            }
            nav a {
                display: inline;
                font-size: 2em;
            }
            h2,
            h3 {
                text-align: left;
                padding-left: 10px;
            }
            .Presentation img,
            .ModernAgile img,
            .col img {
                width: 80vw;
                margin: 0px 75px;
            }
            .col {
                flex: 1;
            }
            video {
                width: 100vw;
            }
        }